#data-container {
  background: grey;
  padding: 10px 0px;
}

#data-selection {
  display: flex;
  justify-content: center;
}

#data-selection button {
  width: 100%;
  padding: 5px 0px;
  border: none;
}

#data-selection button:hover {
  background: cornflowerblue;
  cursor: pointer;
}

.selected-button {
  background: cornflowerblue;
  cursor: pointer;
}

.unselected-button {
  background: white;
}

@media screen and (min-width: 400px) {
  #data-container {
    padding: 10px;
  }

}
