<div id="login_form">
  <h1>Admin Memory</h1>
  <hr>
  <label for="username" aria-label="Gebruikers naam label">Gebruikersnaam</label>
  <input type="text" value="" id="username" (keyup.enter)="login(username.value, password.value)" #username aria-label="Gebruikers naam invulveld">
  <label for="password" aria-label="Wachtwoord label">Wachtwoord</label>
  <input type="password" value="" id="password" (keyup.enter)="login(username.value, password.value)" #password aria-label="Wachtwoord invulveld">
  <button (click)="login(username.value, password.value)" id="btn-login" aria-label="Login om admin gegevens te zien">Login</button>
  <p *ngIf="errorMsg"><b>{{ errorMsg }}</b></p>
</div>
