#login_form {
  background: grey;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#login_form h1 {
  text-align: center;
}

#login_form hr {
  width: 100%;
  color: white;
  margin-bottom: 15px;
}

#btn-login {
  margin-top: 10px;
}
